<p id="notice"><%= notice %></p>

<h1>Postulers</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Offre</th>
      <th>Montant</th>
      <th>Motivation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @postulers.each do |postuler| %>
      <tr>
        <td><%= postuler.user.email %></td>
        <td><%= postuler.offre.titre %></td>
        <td><%= postuler.montant %></td>
        <td><%= postuler.motivation %></td>
        <td><%= link_to 'Show', postuler %></td>
        <td><%= link_to 'Edit', edit_postuler_path(postuler) %></td>
        <td><%= link_to 'Destroy', postuler, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
