<%= form_with(model: langue, local: true) do |form| %>
  <% if langue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(langue.errors.count, "error") %> prohibited this langue from being saved:</h2>

      <ul>
      <% langue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :langue %>
    <%= form.text_field :langue %>
  </div>

  <div class="field">
    <%= form.label :niveau %>
    <%= form.text_field :niveau %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, :value => current_user.id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
